/* line 3, ../scss/styles.scss */
body {
  margin: 0;
}

/* line 7, ../scss/styles.scss */
#wrapper {
  width: 100%;
  height: auto;
  background-color: #9D2429;
}

/* line 13, ../scss/styles.scss */
#head {
  width: 100%;
  height: 120px;
}
/* line 17, ../scss/styles.scss */
#head img {
  float: left;
  display: none;
}
/* line 23, ../scss/styles.scss */
#head ul {
  display: flex;
}
/* line 26, ../scss/styles.scss */
#head ul li {
  list-style-type: none;
  flex: 1;
  text-align: center;
  margin: 0px;
}
/* line 32, ../scss/styles.scss */
#head ul li a {
  text-decoration: none;
  color: white;
  font-family: Times New Roman;
}
/* line 36, ../scss/styles.scss */
#head ul li a:hover {
  text-decoration: underline;
  color: yellow;
}

/* line 48, ../scss/styles.scss */
#bod {
  width: 100%;
  height: 600px;
  background-color: white;
}

/* line 56, ../scss/styles.scss */
.fadein {
  float: left;
  position: relative;
  width: 65%;
  height: 450px;
}
/* line 62, ../scss/styles.scss */
.fadein img {
  position: absolute;
  height: 90%;
  width: auto;
  margin: 15px;
  box-sizing: border-box;
}

/* line 74, ../scss/styles.scss */
#banner {
  position: absolute;
  height: 10%;
  width: 65%;
  margin: 0 0 0% 15px;
  box-sizing: border-box;
  background-color: #000;
  opacity: 0.65;
  font-family: Verdana, Geneva, sans-serif;
  color: #FFF;
  bottom: 150px;
  z-index: 1;
}

/* line 93, ../scss/styles.scss */
.text1 {
  float: left;
  width: 30%;
  padding-right: 2%;
  margin-top: 2%;
  box-sizing: border-box;
}

/* line 104, ../scss/styles.scss */
.text2 {
  float: left;
  width: 100%;
  padding: 5% 30% 0% 30%;
  box-sizing: border-box;
}

/* line 111, ../scss/styles.scss */
#foot {
  width: 100%;
  height: 230px;
  background-color: grey;
  float: left;
}

/* line 123, ../scss/styles.scss */
.leftfoot {
  float: left;
  width: 20%;
}

/* line 128, ../scss/styles.scss */
.centrefoot {
  float: left;
  width: 60%;
}

/* line 142, ../scss/styles.scss */
.rightfoot {
  float: left;
  width: 20%;
  text-align: right;
}
