
@import "compass/css3";

body {
	margin: 0;
}

#wrapper {
	width: 100%;
	height: 100%;
	background-color: #9D2429;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#head {
	width: 100%;
	height: 120px;

	#logo {
		float: left;
	//	width: 50%;

		#pic {
			float: left;
			display: none;
		}

	}

	#links {
		ul {
			display: flex;
			margin: 0;

			li {
				list-style-type: none;
				flex: 1;
				text-align: center;
				margin: 15px 0 0 0;

				a {
					text-decoration: none;
					color: white;
					&:hover{
						text-decoration: underline;
						color: yellow;
					}

				}

			}
		}

	}

}

.letter {
	color: yellow;
}

#bod {
	width: 96%;
	height: 700px;
	background-color: #d3d3d3;
//	margin-top: 70px;
	margin: 0 2% 0 2%;
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;

}

//.slideshow {
//	float: left;
//	width: 65%;
//	height: 450px;
//}

.fadein {
	float: left;
	position: relative;
	width: 65%;
	height: 450px;

	img {
		position: absolute;
//		float: left;
		height: 90%;
		width: auto;
//		width: 65%;
//		height: auto;
		margin: 15px;
		box-sizing: border-box;
	}
}

#banner {
//		float: left;
		position: absolute;
		top: 500px;
		height: 41px;
		width: 608px;
//		width: 65%;
//		height: auto;
		margin: 0 0 0% 15px;
		box-sizing: border-box;

		background-color: #000;
		opacity: 0.65;
		font-family: Verdana, Geneva, sans-serif;
		color: #FFF;
		z-index: 1;

		text-align: center;

}

#banner a {
	text-decoration: none;
	color: red;
		&:hover{
			text-decoration: underline;
			color: yellow;
		}
}

.text1 {
	float: left;
	width: 30%;
	padding-right: 2%;
//	margin-top: 2%;
	box-sizing: border-box;
	text-align: justify;
//	position: relative;
//	left: 70%;
}

.text2 {
	float: left;
	width: 100%;
	padding: 0% 30% 0% 30%;
	box-sizing: border-box;
	text-align: justify;
}

.boldfont {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#foot {
	width: 100%;
	height: 190px;
	background-color: #9D2429;
	float: left;
	color: #9D2429;
//	display: inline-block;

	div {
	//	float: left;
	}
}

.footbox {
	width: 96%;
	padding: 0 2% 0 2%;
}

.leftfoot {
	float: left;
	width: 20%;
	height: 150px;
	text-align: left;
	padding-left: 5px;
	background-color: white;
	border-radius: 0 0 0 10px;
	box-sizing: border-box;
	p {
		margin: 0;
		box-sizing: border-box;

	}
}

.centrefoot {
	float: left;
	width: 60%;
	height: 150px;
	background-color: white;
//	display: block;
//	margin-top: 10px;
//	margin-left: auto;
//	margin-right: auto;
//	box-sizing: border-box;

	img {
//		display: inline;
	}
}

.rightfoot {
	float: left;
	width: 20%;
	height: 150px;
	background-color: white;
	text-align: right;
	padding-right: 5px;
	border-radius: 0 0 10px 0;
	box-sizing: border-box;

}